Flask==3.0.0
flask-socketio==5.3.4
python-socketio==5.9.0
eventlet==0.33.3          # Pour les WebSockets asynchrones
psycopg2-binary==2.9.9    # Driver PostgreSQL
pymongo==4.5.0            # Driver MongoDB
PyJWT==2.8.0              # JSON Web Tokens
bcrypt==4.1.2             # Hash des mots de passe (optionnel)
twilio==8.10.0            # Pour envoyer des SMS (optionnel)
python-dotenv==1.0.0      # Variables d'environnement
flask-cors
eventlet
flasgger
psutil

# flask
# flask-socketio
# psycopg2-binary
# pymongo
# redis
# PyJWT
# africastalking
# celery
# firebase-admin
# gunicorn
# python-dotenv